<!-- updatePerformanceReviewForm.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Performance Review</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
        body {
          font-family: 'Arial', sans-serif;
          background-color: #f4f4f4;
          text-align: center;
        }
  
        .containerUpdate {
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          max-width: 600px; /* Adjust the maximum width of the container */
        }
  
        h2 {
          color: #007bff;
        }
  
        form {
          text-align: left; /* Align form elements to the left */
        }
  
        label {
          display: block;
          margin-top: 10px;
        }
  
        select,
        textarea {
          width: 100%;
          padding: 8px;
          margin-top: 5px;
          margin-bottom: 15px;
          box-sizing: border-box;
        }
  
        button {
          background-color: #c85262;
          color: #fff;
          padding: 10px;
          border: none;
          cursor: pointer;
        }
      </style>
  </head>
  <body>
    <%- include("./navbar") %>

    <div class="container">
        <h2>Update Performance Review</h2>
  
        <!-- Form to update performance review -->
        <form action="/admin/update-performance-review/<%= performanceReview._id %>" method="post">
          <label for="employeeId">Employee:</label>
          <select name="employeeId" required>
            <option value="<%= performanceReview.employee._id %>"><%= performanceReview.employee.username %></option>
            <!-- Add options for other employees if needed -->
          </select>
  
          <label for="reviewerId">Reviewer:</label>
          <select name="reviewerId" required>
            <option value="<%= performanceReview.reviewer._id %>"><%= performanceReview.reviewer.username %></option>
            <!-- Add options for other reviewers if needed -->
          </select>
  
          <label for="feedback">Feedback:</label>
          <textarea name="feedback" rows="4" required><%= performanceReview.feedback %></textarea>
  
          <label for="status">Status:</label>
          <select name="status" required>
            <option value="pending" <%= performanceReview.status === 'pending' ? 'selected' : '' %>>Pending</option>
            <option value="completed" <%= performanceReview.status === 'completed' ? 'selected' : '' %>>Completed</option>
          </select>
  
          <button type="submit">Update Performance Review</button>
        </form>
    </div>
  </body>
</html>
